block content
    include ../layouts/container.pug
    +coloredContainer("gamma-darkGray")
        - var title = "Подготовили"
        - var users = []
        .bg-gamma-lightGray.rounded.px-16.py-16
            .w-full.flex.justify-center.items-center
                div(class="w-3/6 w-full")
                    .text-4xl.bg-gradient-to-r.from-cyan-400.to-pink-400.inline-block.text-transparent.bg-clip-text= title
                div(class="w-3/6 w-full")
                    each name in users
                        .font-sans.text-2xl.leading-8.text-slate-300= name