block content
    include ../layouts/container.pug
    +coloredContainer("gamma-lightGray")
        - var title = "ISO 11801"
        .text-9xl.bg-gradient-to-r.from-cyan-400.to-pink-400.inline-block.text-transparent.bg-clip-text= title