doctype html
html(lang='ru')
    head
        link(rel="stylesheet", href="../dist/output.css")
        title ISO 11801

    body
        include blocks/title.pug
        include blocks/introduction.pug
        include blocks/scope.pug
        include blocks/requirements.pug
        include blocks/certifying.pug
        include blocks/benefits.pug
        include blocks/conclusion.pug
        include blocks/end.pug